<% if(huoguo.length){ %>
    <%for(var i =0 ;i < huoguo.length ;i++){%>
<figure>
    <a href="/fooddetail/<%= huoguo[i].id %>"><img src="<%= huoguo[i].coverimg %>" alt="加载失败" title="点击查看本店详情" style="width: 100%;height: 239px;"></a>
    <figcaption>
        <div class="tour_title">
            <strong class="title" style="color: rgb(47, 120, 255);">&lt;<%= huoguo[i].title %>&gt;</strong>
            <%= huoguo[i].characteristic %>
            <!-- &lt和&gt是尖括号 -->
        </div>
        <div>
            <em class="sat">季度销售 <%= huoguo[i].salenum %></em>
            <span class="price">人均￥ <strong><%= huoguo[i].spend %></strong> 起</span>
        </div>
        <div class="type">点击查看详情</div>
    </figcaption>
</figure>
    <%}%>
<%}%>